@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Romanesco');
@font-face {
	font-family: Lato-HairlineItalic;
	src: url(../fonts/Lato_Hairline/Lato-HairlineItalic.ttf);
}
@font-face {
	font-family: Lato-Hairline;
	src: url(../fonts/Lato_Hairline/Lato-Hairline.ttf);
}
* {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
html {
	font-family: 'Lato', Arial, sans-serif;
	font-size: 10px;
	color: #888888;
}
body {
	min-height: 100%;
	font-size: 1.6rem;
	margin: 0;
}
header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}
h1 {	
	font-size: 10rem;
	margin: 2.1rem 0 4rem 0;
}
h3 {
	font-size: 1.8rem;
	font-weight: bold;
	color: #000;
}
h4 {
	font-size: 3.6rem;
	font-weight: 600;
	padding: 0;
	margin: 1rem 0 0 0;
	text-transform: uppercase;
	text-shadow: 0 0 1.5rem #2e2c2c;
			
}
.container {
	max-width: 1170px;
	width: 85%;
	margin: 0 auto;
	padding: 0 1.5rem;
}
.container__header {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.nav__link {
	text-decoration: none;
}
.nav:hover,
.nav:active,
.nav:focus {
	color: #f57365;
}
.logo:hover,
.logo:active,
.logo:focus {
	opacity: .6;
}
.nav {
	font-size: 1.4rem;
	font-weight: 500;
	color: #fff;
}
.nav__block {
	padding: 0;
}
.nav__block li {
	display: inline-block;
	margin-left: 2em;
}














.section--cover {
	color: #fff;
	background-position: center;
	background-size: cover;
	height: 100vh;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	letter-spacing: .4rem;

}
.section--cover__new-font {
	font-family: 'Romanesco', cursive;
	font-size: 3.6rem;
	letter-spacing: .9rem;
}
.section--cover__btn {
	padding: 2rem 7rem;
	border: 2px solid #fff;
	text-decoration: none;
	background-color: transparent;
	font-weight: 700;
	font-size: 1.6rem;
	display: inline-block;
	margin-bottom: 4rem;
	border-radius: .3rem;
	color: #fff;
	-webkit-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out; 
}
.section--cover__btn:hover,
.section--cover__btn:focus,
.section--cover__btn:active {
	color: #000;
	background-color: rgba(255,255,255, .8);
}
.section--cover__link{
	color: #fff;
}
.section--cover__link:hover,
.section--cover__link:focus,
.section--cover__link:active {
	color: #f57365;
}















.section__get {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	max-width: 1170px;
	width: 85%;
	margin: 0 auto;
	padding: 10rem 1.5rem;
	background-color: #fff;
}
.get-block {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	width: 33%;
	line-height: 1.8rem;
	color: #6b6b6b;
	font-weight: 350;
	padding: 0 .5rem;
}
.icon--wrapper {
	width: 10rem;
	height: 10rem;
	border-radius: 50%;
	border: .25rem solid #393737;
	margin: 0 auto;
	background-position: center;
	background-repeat: no-repeat;
	margin-bottom: 1rem;
	cursor: pointer;
	-webkit-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out; 
}
.icon--wrapper__burger {
	background-image: url(../img/Burger.png);
}
.icon--wrapper__dollars {
	background-image: url(../img/dollars.png);
}
.icon--wrapper__cook {
	background-image: url(../img/cook.png);
}
.icon--wrapper:hover,
.icon--wrapper:focus,
.icon--wrapper:active {
	border: .6rem solid #948b94; 
}
.get-block h3::after  {
	content: '';
	display: block;
	width: 10rem;
	height: .2rem;
	background-color: #f57365;
	text-align: center;
	margin: 1rem auto 0 auto;
}











.section__info {
 	background-color: #f7f7f7;
 	width: 100%;
 	padding: 0;
}
.section__info--wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
}
.section__info__iphone {
	width: 50%;
	padding: 10% 4% 0  0;
	background-color: transparent;
	position: relative;
	bottom: .1rem;
	
}
.section__info__iphone img {
	max-width: 100%;
	max-height: 100%;
}
.section__info__introduce {
	padding: 15% 0 2% 4%;
	width: 50%;
}
.section__info__introduce__google-play {
 	margin-right: 2rem;
}
.section__info__introduce--wrapper-img {
	margin-top: 3rem;
}
.section__info__introduce--wrapper-img a {
	cursor: pointer;
}
.section__info__introduce--wrapper-img a:hover,
.section__info__introduce--wrapper-img a:focus {
	opacity: .7;
}
.section__info__introduce h3::after  {
	content: '';
	display: block;
	width: 10rem;
	height: .2rem;
	background-color: #f57365;
	margin: 1rem 0 2rem 0;
}
.section__info__introduce p {
	color: #6b6b6b;
	font-weight: 350;
	margin-top: 4rem; 
	line-height: 1.9rem;
}












.section__team {
	padding: 5% 12%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	color: rgba(255,255,255, .8);
	line-height: 3.6rem;
	-webkit-box-shadow: 0 0 1rem 0 rgba(74,57,73);
	        box-shadow: 0 0 1rem 0 rgba(74,57,73);

}
.section__team__member {
	width: 10rem;
	height: 10rem;
	border-radius: 50%;
	background: #dadada url(../img/face.jpg) center no-repeat;
	background-size: cover;
	border: .5rem solid #948b94;
	margin: 0 auto;
}
.section__team blockquote,
.section__team cite {
	opacity: .5;
}
.section__team blockquote {
	font-size: 3rem;
	font-weight: 250;
	margin-bottom: 3rem;
	font-family: Lato-HairlineItalic, sans-serif;
}
.section__team cite {
	font-family: Lato-Hairline, sans-serif; 
} 
.section__item {
	width: 100%;
	background-color: #fff;
	padding: 10rem 0 0 0;
}
.section__item h3::after {
	content: '';
	display: block;
	width: 10rem;
	height: .2rem;
	background-color: #f57365;
	margin: 1rem auto 4rem auto;
}
.menu--wrapper {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	        flex-direction: row;
	padding: 0;
	margin: 0;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	list-style: none;
	cursor: pointer;
	-webkit-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}
.menu__item {
	width: 20%;
	padding: 5rem 0 4.5rem 0;
	color: #fff;
}
.menu__item:hover {
	opacity: .7;
}
.menu__recepts {
	font-size: 1.8rem;
	margin: 0 auto;
	font-family: 'Romanesco', cursive;
	letter-spacing: .2em;
}
.menu__item--italian {
	background: #fff url(../img/italian.jpg) no-repeat;
	background-size: cover;
}
.menu__item--indian {
	background: #fff url(../img/indian.jpg) no-repeat;
	background-size: cover;	
}
.menu__item--french {
	background: #fff url(../img/french.jpg) no-repeat;
	background-size: cover;	
}
.menu__item--steakhouse {
	background: #fff url(../img/steakhouse.jpg) no-repeat;
	background-size: cover;	
}
.menu__item--seafood {
	background: #fff url(../img/seafood.jpg) no-repeat;
	background-size: cover;	
}
.menu__item--sushi {
	background: #fff url(../img/sushi.jpg) no-repeat;
	background-size: cover;	
}
.menu__item--mexican {
	background: #fff url(../img/mexican.jpg) no-repeat;
	background-size: cover;	
}
.menu__item--chinese {
	background: #fff url(../img/chinese.jpg) no-repeat;
	background-size: cover;	
}
.menu__item--pizza {
	background: #fff url(../img/pizza.jpg) no-repeat;
	background-size: cover;	
}
.menu__item--american {
	background: #fff url(../img/american.jpg) no-repeat;
	background-size: cover;	
}



















.section__counters {
	padding: 5rem 0;
	color: #000;
	font-weight: 300;
}
.section__counters--wrapper {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding: 0;
}
.section__counters__counter {
	width: 20%;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.counter__number {
	font-size: 3.6rem;
	font-weight: 700;
	
}


















footer {
	background-color: #f7f7f7;
	padding: 4rem 1rem;
}
.footer__content {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding: 0 4rem;
}
.footer__content__copyright {
	opacity: .5;
	font-weight: lighter;
}
.footer__content__link {
	letter-spacing: .2em;
}
p.footer__content__link {
	font-weight: lighter;
}
.footer__content__link a {
	text-decoration: none;
	font-weight: 500;
	color: #000;
	-webkit-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.footer__content__link a:hover,
.footer__content__link a:focus,
.footer__content__link a:active {
	background-color: #948b94;
	color: #fff;
}

/*Helpers*/
.text-center {
	text-align: center;
}
.text-small {
	font-size: 1.4rem;
}
.text-shadow {
	text-shadow: 0 0 1.5rem #2e2c2c;
}


